<style>
    #wrapper{
        position:relative;
    }

    #overlay {
        width: 100%;
        height: 100%;
        position:absolute;
        pointer-events: none;
    }

    #content-container {
        width: 100%;
        height: 100%; 
    }
</style>
<div id='wrapper'>
    <sprite-overlay id='overlay'></sprite-overlay>
    
    <div id='content-container'
         tabindex="0"
         @click='${this._handleClick_contentContainer}'
         @blur='${this._handleBlur_contentContainer}'/>     
</div>